iframe{
	border: none;
	width: 100%;
	margin-top: 0px;
	height: 160px;
}
h1{
/*	border: solid 2px red;*/
/*	margin-top: 90px;*/
	text-align: center;
}

body{
	justify-content: center;
/*	align-items: center;*/
/*	margin-top: 5px;*/
	background-color: #363c3d;
}
input{
	background-color: #000051;
	color: white;
	width: 260px;
	height: 60px;
	border-radius: 8px;
	margin: 8px;
	margin-top: 60px;


}
.conMenuPrincipal{
/*	border: solid 2px red;*/
	border-radius: 8px;
	border: solid 4px;
	border-color: #000;
	text-align: center;
	margin-top: 50px;
	width: 50%;
	height: 550px;
	margin-left: 25%;
	background-color: #143860;
}

/*colores
#003651

*/

.imgCaja{
	background-image: url('../img/caja.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: 20px;
}
#imgCaja{


}