
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;


/*    justify-content: center;*/



    background-color: #143860;
/*    #8B9DBE
    #2F5597*/
/*    color: white;*/
    
/*    align-items: center;*/
}
.logo{
/*  border: solid 3px red;*/

/*  width: 100px;
  height: 20px;*/
  text-align: center;
}
img{
    width: 290px;
    height: 120px;
    margin-left: 10px;
    margin-top: 15px;
}
.titulo h1{
/*    border: solid 5px green;*/
    font-size: 35px;
/*    width: 120%;*/
    text-align: center;
    color: black;
}
.clock {
    font-size: 20px;
    color: white;
    background-color: #113052;/*Cambiar color para fondo de reloj*/
    padding: 5px 10px;
    border-radius: 5px;
    width: 360px;/*revisar*/
    height: 22px;
    margin-right: 25px;
    text-transform: 10px;
}
body {
    font-family: Arial, sans-serif;

}
/* Iframe */
h1 {
    font-size: 26px;
}